<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <imgix>
            <settings>
                <enabled>0</enabled> 
                <imgix_api_key></imgix_api_key>
                <default_options><![CDATA[w=700&auto=format]]></default_options>
                <small_options><![CDATA[w=500&auto=format]]></small_options>
                <thumbnail_options><![CDATA[w=100&auto=format]]></thumbnail_options>
            </settings>
        </imgix>
    </default>
</config>
