<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/e†c/config.xsd">
    <preference for="Magento\Catalog\Block\Adminhtml\Product\Helper\Form\Gallery\Content" 
    			type="Imgix\Magento\Block\Adminhtml\Product\Helper\Form\Gallery\Content"/>
    <preference for="Magento\Catalog\Model\Product\Gallery\CreateHandler" 
    			type="Imgix\Magento\Model\Product\Gallery\CreateHandler"/>
    <preference for="Magento\Catalog\Model\Product\Gallery\UpdateHandler"
               	type="Imgix\Magento\Model\Product\Gallery\UpdateHandler" />
    <virtualType name="DefaultWYSIWYGValidator" type="Magento\Framework\Validator\HTML\ConfigurableWYSIWYGValidator">
        <arguments>
            <argument name="allowedTags" xsi:type="array">
                <item name="iframe" xsi:type="string">iframe</item>
                <item name="style" xsi:type="string">style</item>
                <item name="pre" xsi:type="string">pre</item>
                <item name="figcaption" xsi:type="string">figcaption</item>
                <item name="caption" xsi:type="string">caption</item>
                <item name="strong" xsi:type="string">strong</item>
                <item name="table" xsi:type="string">table</item>
                <item name="thead" xsi:type="string">thead</item>
                <item name="tr" xsi:type="string">tr</item>
                <item name="th" xsi:type="string">th</item>
                <item name="tbody" xsi:type="string">tbody</item>
                <item name="tfoot" xsi:type="string">tfoot</item>
                <item name="small" xsi:type="string">small</item>
                <item name="abbr" xsi:type="string">abbr</item>
                <item name="address" xsi:type="string">address</item>
                <item name="area" xsi:type="string">area</item>
                <item name="aside" xsi:type="string">aside</item>
                <item name="article" xsi:type="string">article</item>
                <item name="canvas" xsi:type="string">canvas</item>
                <item name="code" xsi:type="string">code</item>
                <item name="dl" xsi:type="string">dl</item>
                <item name="dt" xsi:type="string">dt</item>
                <item name="dd" xsi:type="string">dd</item>
                <item name="em" xsi:type="string">em</item>
                <item name="embed" xsi:type="string">embed</item>
                <item name="fieldset" xsi:type="string">fieldset</item>
                <item name="legend" xsi:type="string">legend</item>
                <item name="link" xsi:type="string">link</item>
                <item name="picture" xsi:type="string">picture</item>
                <item name="q" xsi:type="string">q</item>
                <item name="section" xsi:type="string">section</item>
                <item name="sub" xsi:type="string">sub</item>
                <item name="sup" xsi:type="string">sup</item>
                <item name="ul" xsi:type="string">ul</item>
                <item name="ol" xsi:type="string">ol</item>
                <item name="li" xsi:type="string">li</item>
                <item name="optgroup" xsi:type="string">optgroup</item>
                <item name="option" xsi:type="string">option</item>
                <item name="pre" xsi:type="string">pre</item>
                <item name="a" xsi:type="string">a</item>
            </argument>
            <argument name="allowedAttributes" xsi:type="array">
                <item name="alt" xsi:type="string">alt</item>
                <item name="class" xsi:type="string">class</item>
                <item name="data-active-tab" xsi:type="string">data-active-tab</item>
                <item name="data-appearance" xsi:type="string">data-appearance</item>
                <item name="data-autoplay" xsi:type="string">data-autoplay</item>
                <item name="data-autoplay-speed" xsi:type="string">data-autoplay-speed</item>
                <item name="data-background-images" xsi:type="string">data-background-images</item>
                <item name="data-background-type" xsi:type="string">data-background-type</item>
                <item name="data-carousel-mode" xsi:type="string">data-carousel-mode</item>
                <item name="data-center-padding" xsi:type="string">data-center-padding</item>
                <item name="data-content-type" xsi:type="string">data-content-type</item>
                <item name="data-element" xsi:type="string">data-element</item>
                <item name="data-enable-parallax" xsi:type="string">data-enable-parallax</item>
                <item name="data-fade" xsi:type="string">data-fade</item>
                <item name="data-grid-size" xsi:type="string">data-grid-size</item>
                <item name="data-infinite-loop" xsi:type="string">data-infinite-loop</item>
                <item name="data-link-type" xsi:type="string">data-link-type</item>
                <item name="data-locations" xsi:type="string">data-locations</item>
                <item name="data-overlay-color" xsi:type="string">data-overlay-color</item>
                <item name="data-parallax-speed" xsi:type="string">data-parallax-speed</item>
                <item name="data-pb-style" xsi:type="string">data-pb-style</item>
                <item name="data-same-width" xsi:type="string">data-same-width</item>
                <item name="data-show-arrows" xsi:type="string">data-show-arrows</item>
                <item name="data-show-button" xsi:type="string">data-show-button</item>
                <item name="data-show-controls" xsi:type="string">data-show-controls</item>
                <item name="data-show-dots" xsi:type="string">data-show-dots</item>
                <item name="data-show-overlay" xsi:type="string">data-show-overlay</item>
                <item name="data-slide-name" xsi:type="string">data-slide-name</item>
                <item name="data-slick-index" xsi:type="string">data-slick-index</item>
                <item name="data-role" xsi:type="string">data-role</item>
                <item name="data-product-id" xsi:type="string"> data-product-id</item>
                <item name="data-price-box" xsi:type="string">data-price-box</item>
                <item name="aria-hidden" xsi:type="string">aria-hidden</item>
                <item name="data-tab-name" xsi:type="string">data-tab-name</item>
                <item name="data-video-fallback-src" xsi:type="string">data-video-fallback-src</item>
                <item name="data-video-lazy-load" xsi:type="string">data-video-lazy-load</item>
                <item name="data-video-loop" xsi:type="string">data-video-loop</item>
                <item name="data-video-overlay-color" xsi:type="string">data-video-overlay-color</item>
                <item name="data-video-play-only-visible" xsi:type="string">data-video-play-only-visible</item>
                <item name="data-video-src" xsi:type="string">data-video-src</item>
                <item name="href" xsi:type="string">href</item>
                <item name="id" xsi:type="string">id</item>
                <item name="role" xsi:type="string">role</item>
                <item name="style" xsi:type="string">style</item>
                <item name="target" xsi:type="string">target</item>
                <item name="title" xsi:type="string">title</item>
                <item name="imgix_width" xsi:type="string">imgix_width</item>
                <item name="imgix_height" xsi:type="string">imgix_height</item>
                <item name="imgix_format" xsi:type="string">imgix_format</item>
                <item name="imgix_auto" xsi:type="string">imgix_auto</item>
                <item name="imgix_crop" xsi:type="string">imgix_crop</item>
                <item name="srcset" xsi:type="string">srcset</item>
                <item name="onclick" xsi:type="string">onclick</item>
                <item name="download" xsi:type="string">download</item>
                <item name="media" xsi:type="string">media</item>
                <item name="ping" xsi:type="string">ping</item>
                <item name="hreflang" xsi:type="string">hreflang</item>
            </argument>
            <argument name="attributesAllowedByTags" xsi:type="array">
                <item name="a" xsi:type="array">
                    <item name="tabindex" xsi:type="string">tabindex</item>
                    <item name="target" xsi:type="string">target</item>
                    <item name="rel" xsi:type="string">rel</item>
                    <item name="onclick" xsi:type="string">onclick</item>
                    <item name="download" xsi:type="string">download</item>
                    <item name="media" xsi:type="string">media</item>
                    <item name="ping" xsi:type="string">ping</item>
                    <item name="hreflang" xsi:type="string">hreflang</item>
                </item>
                <item name="img" xsi:type="array">
                    <item name="src" xsi:type="string">src</item>
                    <item name="alt" xsi:type="string">alt</item>
                    <item name="title" xsi:type="string">title</item>
                    <item name="imgix_width" xsi:type="string">imgix_width</item>
                    <item name="imgix_height" xsi:type="string">imgix_height</item>
                    <item name="imgix_format" xsi:type="string">imgix_format</item>
                    <item name="imgix_auto" xsi:type="string">imgix_auto</item>
                    <item name="imgix_crop" xsi:type="string">imgix_crop</item>
                    <item name="srcset" xsi:type="string">srcset</item>
                </item>
                <item name="iframe" xsi:type="array">
                    <item name="allowfullscreen" xsi:type="string">allowfullscreen</item>
                    <item name="autoplay" xsi:type="string">autoplay</item>
                    <item name="frameborder" xsi:type="string">frameborder</item>
                    <item name="muted" xsi:type="string">muted</item>
                    <item name="src" xsi:type="string">src</item>
                </item>
                <item name="style" xsi:type="array">
                    <item name="data-style-id" xsi:type="string">data-style-id</item>
                </item>
            </argument>
            <argument name="attributeValidators" xsi:type="array">
                <item name="src" xsi:type="array">
                    <item name="iframe-src" xsi:type="object">Magento\PageBuilder\Model\Validator\IframeSrcAttributeValidator</item>
                </item>
            </argument>
            <argument name="tagValidators" xsi:type="array">
                <item name="div" xsi:type="array">
                    <item name="html" xsi:type="object">Magento\PageBuilder\Model\Validator\InnerHtmlValidator</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>























